/** styles/modules/projects/editor_objects.css todo*/

[contenteditable]{
	padding: 0.02em;
}
[contenteditable] *{
	padding-block: 0.025em;
	padding-inline: 0.025em;
	min-height: 1.4em;
}

[contenteditable]:focus{
	outline: 0.001em solid transparent;
}

[contenteditable]:focus *{
	background-color: #f2f2f2;
	--grey-1-color: #f2f2f2;
	--grey-2-color: #f3f3f3;
	--grey-3-color: #f8f8f8;
	--grey-4-color: #dddddd;
	--grey-5-color: #d2d2d2;
	--grey-6-color: #c8c8c8;
	--grey-7-color: #bebebe;
	--grey-8-color: #b4b4b4;
	--grey-9-color: #a2a2a2;
	--grey-10-color: #ababab;
	
}
[contenteditable]:focus *[data-active]{
	background-color: var(--grey-1-color);
}

[contenteditable]:focus article[data-active],
[contenteditable]:focus h1[data-active],
[contenteditable]:focus h2[data-active],
[contenteditable]:focus h3[data-active],
[contenteditable]:focus h4[data-active],
[contenteditable]:focus h5[data-active],
[contenteditable]:focus h6[data-active],
[contenteditable]:focus p[data-active]{
	background-color: var(--grey-2-color);
}

[contenteditable]:focus article-footer,
[contenteditable]:focus article-header,
[contenteditable]:focus article-main{
	background-color: var(--grey-3-color);
}

[contenteditable]:focus article-footer[data-active],
[contenteditable]:focus article-header[data-active],
[contenteditable]:focus article-main[data-active]{
		background-color: var(--grey-4-color);
}

[contenteditable] hr{
	 all: unset;
	 display: revert;   
	 margin: 0.5em 0.05em;
	 border-bottom: 0.1em solid  var(--grey-10-color);
}

[contenteditable]:focus hr{
	 margin: 0.5em 0.05em;
	 border-bottom: 0.02em solid  var(--grey-6-color);
}

[contenteditable] h1{
	font-size: 2.0em;
}
[contenteditable] h2{
	font-size:  1.5em;
}

[contenteditable] h3{
	font-size: 1.17em;
}

[contenteditable] h4{
	font-size: 1.00em;
}

[contenteditable] h5{
	font-size: 0.83em;
}

[contenteditable] h6{
	font-size: 0.67em;
}

/** inlines border-bottom: 0.05em dashed #4f4f4f;*/

[contenteditable] b{
	display: inline;
	caret-color: var(--grey-1-color);
	
}
/** temporary */
[contenteditable]:focus .inliner{
	background-color: var(--grey-4-color);
}

[contenteditable]:focus .inliner[data-active]{
	background-color: var(--grey-5-color);
}







