/**GITHUB modules/components/toolbar.css */
/** CTRL RIGHT PANEL */
aside.sidebar-ctrl.top{
	width: calc(100% - 1.5em);
	height: fit-content;
	background: var(--ctrls-bg); 
	color: var(--ctrls-color);
	padding-top: 0.09rem;
}
aside.sidebar-ctrl.top div.left-block{
	width: fit-content;
	padding-left: 1.9em;
	line-height: 1.6em;
	gap: 0.3em;
}

aside.sidebar-ctrl.top div.left-block h4{
	white-space: nowrap;
}
aside.sidebar-ctrl.top div.left-block::before{
	top: 0.01em;
	left: 0.05em;
	height: 24px;
	width: 24px;
}

aside.sidebar-ctrl.top div.left-block div.tb.menu-item.home{
	left: 0.2em;
	height: 24px;
	width: 24px;
	background: #78c4e2;
	cursor: pointer;
}
div.tb.menu-item.home.active{
	cursor: default;
	opacity: 0.6;
}
div.tb.menu-item.home::before{
	left: -0.04em;
}

aside.sidebar-ctrl.top div.right-block{
	line-height: 1.6em;
	padding: 0 0.4em;
	flex-grow: 1;
	justify-content: right;
}
div.right-block div.tb-right-container{
	gap: 0.5em;
	width: fit-content;
	
	
}

div.tb-right-container div.tb-block{
}
div.tb-block details summary::before{
}
div.tb-block details[open] summary::before{
	opacity: 0.6;
}
div.right-block div.tb-block.five{
	width: 1.6em;
}
/** todo */
