/**GITHUB modules/components/menubar.css */
/** CTRL LEFT PANEL */
aside.sidebar-ctrl.left{
	width: fit-content;
	height: 100vh;
	padding: 0.3em 0.5em;
	flex-flow: column nowrap;
	background: var(--ctrls-bg); 
	color: var(--ctrls-color);
	border-bottom-left-radius: 0.3em;
	overflow-y: auto;
	direction: rtl;
}
aside.sidebar-ctrl.left .mb-container{
	direction: ltr;	
	flex-flow: column nowrap;
	gap: 0.2em;
}
.mb-container .menu-block{
	width: 7.0rem;
	border-bottom: 1px solid #f4debd;
	direction: ltr;
}
.menu-block details.mb-block summary{
	width: fit-content;
	padding:0 0 0.2em 1.7em;
}
details.mb-block summary::before{
	top: 0.05em;
	width: 0.9em;
	opacity: 1;
}

details.mb-block[open] summary::before{
	opacity: 0.4;
}
details.mb-block details-content{
	flex-flow: row wrap;
	width: 7.0rem;
	height: fit-content;
	padding: 0.1em 0 0.2em 0.5em;
	background:  var(--ctrls-sub-bg);
}	
details.mb-block details-content .menu-item{
	margin-top:0.20rem; 
	padding: 0.2rem 0;
	height: fit-content;
	width: calc(100% - 0.4em);
	font-size: 0.9rem;
	text-align: center;
}

aside.sidebar-ctrl.left .my-data{
	align-self: stretch;
	height: 100%;
	text-align: left;
	white-space: nowrap;
	padding: 0.2em;
	z-index: 5;
}

.my-data small.my-details{
	top: calc(100% - 1.2em);
	height: fit-content;
	width: 100%;
}