/** modules/unicode/uni_emoji.css todo*/



/** A */
/** B */
.beaming-smiling-eyes::before{
	position: relative;
	inset: 0;
	content:"\1F601";
	font-size: 1.2em;
}


/** C */
/** D */
/** E */
/** F */
.face-tears-of-joy::before{
	position: relative;
	inset: 0;
	content:"\1F602";
	font-size: 1.2em;
}



/** G */

.grinning::before{
	position: relative;
	inset: 0;
	content:"\1F600";
	font-size: 1.2em;
}
.grinning-big-eyes::before{
	position: relative;
	inset: 0;
	content:"\1F603";
	font-size: 1.2em;
}
.grinning-smile-eyes::before{
	position: relative;
	inset: 0;
	content:"\1F604";
	font-size: 1.2em;
}

.grinning-squinting::before{
	position: relative;
	inset: 0;
	content:"\1F606";
	font-size: 1.2em;
}

.grinning-sweat::before{
	position: relative;
	inset: 0;
	content:"\1F606";
	font-size: 1.2em;
}
/** M */
.melting-face::before{
	position: relative;
	inset: 0;
	content:"\1FAE0";
	font-size: 1.2em;
}


/** R */
.rolling-floor-laughing::before{
	position: relative;
	inset: 0;
	content:"\1F605";
	font-size: 1.2em;
}

/** S */
.slightly-smiling-face::before{
	position: relative;
	inset: 0;
	content:"\1F642";
	font-size: 1.2em;
}
.smiling-face-smiling-eyes::before{
	position: relative;
	inset: 0;
	content:"\1F60A";
	font-size: 1.2em;
}
.smiling-face-halo::before{
	position: relative;
	inset: 0;
	content:"\1F607";
	font-size: 1.2em;
}


/** T */



/** U */
.upside-down-face::before{
	position: relative;
	inset: 0;
	content:"\1F643";
	font-size: 1.2em;
}

/** V */


/** W */

.winking-face::before{
	position: relative;
	inset: 0;
	content:"\1F609";
	font-size: 1.2em;
}





/** 
.::before{
	position: absolute;
	inset: 0;
	content:"\";
	font-size: 1.2rem;
}
*/
/** 
.::before{
	position: absolute;
	inset: 0;
	content:"\";
	font-size: 1.2rem;
}
*/
/** 
.::before{
	position: absolute;
	inset: 0;
	content:"\";
	font-size: 1.2rem;
}
*/
/** 
.::before{
	position: absolute;
	inset: 0;
	content:"\";
	font-size: 1.2rem;
}
*/
