/** factory/awd_style.css */
body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: #7a2c2c;
	font-size: 1.2rem; 				
}
.wrap.container{
	width: inherit;
	height: inherit;
	flex-flow: column wrap;
}
/* HEADER */
.wrap header h4{
	text-align: center;
	font-size: 1.2em;
}
/* MAIN */
.wrap main{
	background: #fff;
	flex-grow: 1;
}