/** factory/awd_style.css */
body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: #7a2c2c;
	font-size: 1.2rem; 				
}
.wrap.container{
	width: inherit;
	height: inherit;
	flex-flow: column wrap;
}
/* FOOTER */
.wrap footer{
	left: calc(100% - 6.0em);
	width: 5.2em;
	height: 1.2em;
	margin: 0.5em 0;
	flex-flow: row nowrap;
}
.wrap footer small{
	width: fit-content;
	wrap: nowrap;
	line-height: 1.2em;
	color: #adadad;
}

/* HEADER */
.wrap header h4{
	text-align: center;
	font-size: 1.2em;
}
/* MAIN */
.wrap main{
	background: #fff;
	flex-grow: 1;
}