/** template_2.css */
.block .template-two{
	padding: 0.5rem;
	height: fit-content;
}

.template-two article{
	margin-bottom:1.0rem; 
}

.template-two article header{
	padding: 1rem;
	text-align: center;
	font-size: 1.6rem;
	border-bottom:1px solid #666666;
} 
.template-two article div{
	padding:0.5rem 0.5rem 0;
}
