//tooltipModule/tooltip.css
.display-inline{
	display: inline;
}
.absolute{
	position:absolute;
	inset: 0;
}
.relative{
	position: relative;
	inset: 0;
}	
.fixed{
	position: fixed;
	inset: 0;	
}	
.sticky{
	position: sticky;
	inset: 0;	
}	
tooltip-ctn{
	padding: 0.15rem 0.125rem;
	height: fit-content;
	width: fit-content;
	font-size: 0.65rem;
	color: #254f4b;
	background: #f9f6bd; /*fbfcf4  editor-ctn*/
	border:1px solid;
	border-radius: 0.2rem;
	white-space: nowrap;
	z-index: 100;
}
