/**Localhost modules/template.css */
article{
	flex-flow: column wrap;
	gap: 0.25rem;
}


article-main{
	flex-flow: column wrap;
	gap: 0.15rem;
}
article h1{
	font-size: 1.4em;
}
article h2{
	font-size: 1.2em;
}
article h3{
	font-size: 1.0em;
}
article h4{
	font-size: 0.8em;
}
article h5 {
	font-size: 0.6em;
}
article h6{
	font-size: 0.4em;
}

article li,
article p{
	font-size: 0.9em;
}
article ol,
article ul{
	padding-top:0.5em;
}

article .indent-1{
	padding:0.3em 0 0.2em 0.5em;
}
article .indent-2{
	padding:0.4em 0 0.2em 0.5em;
	padding-inline-start: 3.5em;
}

article .indent-3{
	padding:0.3em 0 0.2em 1.5em;
}
article li.caps-1{
	padding-left: 1.0rem;
	font-size: 1.1em;
	min-width: fit-content;
	line-height: 1.1rem;
}

article li.caps-2{
	padding-bottom: 0.3rem;
	padding-left: 0.5rem;
	font-size: 1.1em;
	line-height: 1.0rem;
}

article li.caps-3{
	padding-bottom: 0.3rem;
	padding-left: 0.5rem;
	font-size: 1.2em;
	line-height: 1.2rem;
}


article ol.indent-1{
	padding:0.3em 0 0.4em 2.0em;
}
article ol.number{
	list-style: number outside;
	
}
article ol li.caps-1{
	height: fit-content;
	padding:0.4em 0;
}
article ol li.caps-1 code{
	margin: 0.25em 0 0.25em;
	display:block;
	padding: 0.15rem;
	color: #fff;
	background: #000;
	width: fit-content;
	border: 0.05rem solid yellow;
}

article ol li.caps-1 pre{
	margin: 0.25em 0 0.25em;
	display:block;
	padding: 0.15rem;
	color: #fff;
	background: #000;
	width: fit-content;
	border: 0.05rem solid yellow;
}

article-footer{
	text-align: right;
	padding: 1.0rem 0;
}