/**Localhost styles/modules/awd_main.css */
/** BASE */
.wrap.container main{
	flex-grow: 1;
}

.wrap.container section.top{
	background: rgb(90,140,177);
	color: rgb(223,223,223);
	flex-flow: column;
	padding-top: 0.25rem;
	height: fit-content;
}
.wrap.container section.top header{
	text-align: center;
	font-size: 1.0rem;
	padding: 0.20rem 0 0.5rem;
	height: fit-content;
}

/** CTRLS PANEL */
.controls-container{
	flex-flow: row wrap;
}
.controls-container details summary{
	cursor: pointer;
	background: var(--ctrls-bg); 
	color: var(--before-color-one);
}

.controls-container .open-close-block{
	top: 3.9em;
	left: auto;
	width: 1.6em;
	height: 3.2em;
	background: var(--ctrls-bg); 
	color: var(--ctrls-color); 
	z-index: 5;
}
.open-close-block details summary{
	width: 1.6em;
	height: 1.6em;
}
.open-close-block details summary::before{
	width: inherit;
	height: inherit;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.6em;
	opacity: 1;
}
.open-close-block details[open] summary::before{
	opacity: 0.7;
}
body[data-platform="Linux armv81"][data-browsername="Firefox"] .open-close-block details summary::before{
	font-size: 0.7em;
	line-height: 2.2em;
	opacity: 1;
}