/**Localhost modules/template.css */
div.wb-content article{
	flex-flow: column wrap;
	gap: 0.05em;
	width: 100%;
}
article a{
	color: grey;
}
article h1{
	font-size: 2.0em;
}
article h2{
	font-size: 1.5em;
}
article h3{
	font-size: 1.17em;
}
article h4{
	font-size: 1.0em;
}
article h5 {
	font-size: 0.83em;
}
article h6{
	font-size: 0.67em;
}

article li,
article p{
	font-size: 0.9em;
}
article ol,
article ul{
	width: inherit;
	padding-top:0.25em;
}

article .indent-0{
	padding:0.3em 0 0.2em 1.2em;
}
article .indent-1{
	padding:0.3em 0 0.2em 0.5em;
}
article .indent-2{
	padding:0.4em 0 0.2em 0.5em;
	padding-inline-start: 3.5em;
}

article .indent-3{
	padding:0.3em 0 0.2em 1.5em;
}
article li.caps-1{
	padding-left: 1.0em;
	font-size: 1.1em;
	min-width: 100%;
	line-height: 1.1em;
}

article li.caps-2{
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	font-size: 1.1em;
	line-height: 1.0em;
}

article li.caps-3{
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	font-size: 1.2em;
	line-height: 1.2em;
}

article ol.indent-1{
	padding:0.3em 0 0.4em 2.0em;
}
article ol.number{
	list-style: number outside;
	
}
article ol li.caps-1{
	height: fit-content;
	padding:0.4em 0;
}
article code{
	transform: translateX(5%);
	margin: 0.25em 0 0.25em;
	display: block;
	padding: 0.25em;
	color: #fff;
	background: #62686d;
	min-height: 2.0em;
	width: 90%;
	overflow: auto;
	border: 0.05em solid #8d8d8d;
}

article pre{
	transform: translateX(5%);
	margin: 0.25em 0 0.25em;
	display:block;
	padding: 0.25em 0.5em 1.0em;
	color: #fff;
	background: #62686d;
	min-height: 3.0em;
	height: fit-content;
	max-width: 90%;
	width: fit-content;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #ffd767 transparent;
	border: 0.05rem solid #8d8d8d;
}

article-footer{
	width: 100%;
	text-align: right;
	padding: 1.0em 0;
}
article-footer *{
	padding: 0.3em 0;
}

article-footer p{
	text-align: left;
}
article-header{
	width: 100%;
	height:	fit-content;
}

article-main{
	width: 100%;
	padding-bottom:	0.25em;
	flex-flow: column wrap;
	gap: 0.15em;
}

.temp-placeholder{
	margin-top: 0.5em;
}

body:not([data-platform="Win32"]) .wrap editor-ctn.parent-class toolbars-ctn.top{
	margin-bottom: 3.5em;
}

/** */