/** Localhost styles/modules/awd_classes.css */
.absolute{
	position:absolute;
}
.relative{
	position: relative;
}			
.fixed{
	position: fixed;
}			
.sticky{
	position: sticky;
}
.absolute,
.relative,
.fixed,
.sticky{
	inset: 0;
}
.display-block{
	display: block;
}
.display-inline-flex{
	display: inline-flex;
}	
.display-flex{
	display: flex;
}	
.display-grid{
	display: grid;
}
.display-none{
	display: none;
}
.a-underline{
	text-decoration: underline;
}

.a-underline-fat{
	text-decoration: underline;
	font-weight: 600;
}
.a-underline-dashed{
	text-decoration: underline dashed;
}
.a-underline-dotted{
	text-decoration: underline dotted;
}
.align-center{
	text-align: center;
}

.align-right{
	text-align: right;
}

.li-circle{
	list-style: circle inside;
}	
.li-disc{
	list-style: disc inside;
}
.li-square{
	list-style: square inside;
}

.li-circle-os{
	list-style: circle outside;
}	
.li-disc-os{
	list-style: disc outside;
}
.li-square-os{
	list-style: square outside;
}
.li-none{
	list-style: none;
}
.li-indent-1em{
	transform: translateX(0.5em);
}
.text-center{
	text-align: center;
}
.fl-one::first-letter{
	font-size: 1.3em;
}
.fl-two::first-letter{
	font-size: 1.15em;
}
summary{
	cursor: pointer;
}
summary::before{
	
}
.menu-item{
	cursor: pointer;
}
.active{
	cursor: default;
	opacity: 0.8;
}

.text-overflow{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.text-indent-1-em{
	text-indent: 1em;
}
.text-indent-2-em{
	text-indent: 2em;
}

.text-left-0{
	padding-left: 0.5em;
}

.text-left-1{
	padding-left: 1em;
}

.text-left-2{
	padding-left: 2em;
}
.text-left-3{
	padding-left: 3em;
}
.text-left-4{
	padding-left: 4em;
}

/* BUTTON BASE STYLES,*/
.btn{
    padding: 0.2rem 0.5rem;
    height: fit-content;
	width: fit-content;
	background: linear-gradient(to bottom,  rgba(44,44,44,1) 0%,rgba(19,19,19,1) 0%,rgba(43,43,43,1) 0%,rgba(130,130,130,1) 0%,rgba(76,76,76,1) 100%);
    color:var(--btn-cl);
    border-radius: 5px;
	border: 1px solid;
	border-top-color: #e2e4e7;
	border-right-color: #1e2024;
	border-bottom-color: #1e2024;
	border-left-color: #e2e4e7;
    cursor: pointer;
}

.btn:hover{
	border-bottom-color: rgb(2,155,40);
	opacity: 0.8;
}
.btn-layout:hover{
	border-bottom-color: rgb(2,155,40);
	opacity: 0.8;
}

/* CLICKABLE STYLES, */
.clickable-layout{
	cursor: pointer;
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 34%,rgba(40,52,59,1) 87%);
}
.clickable-layout.active{
	color: var(--ctrls-color-active);
	cursor: default;
	opacity: 0.6;
}

/** classes specifics */

li.exclamation-inverted{
	padding-left: 0.7em;
	color: rgb(50, 78, 99);
	opacity: 1;
	min-height: fit-content;
}
li.exclamation-inverted::before{
	width: fit-content;
	height: fit-content;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 0.35em;
	color: rgb(204, 59, 46);
}

li.exclamation-inverted p{
	height: fit-content;
	font-size: 0.8rem;
}

emoji-holder[class]{
	padding: 0;
	height: 0.6em;
	width: 0.5em;
}
emoji-holder[class]::before{
	height: inherit;
	width: inherit;
	font-size: 1.0em;
	text-align: center;
}
.uni-font{
	font-family: NotoSans;
}
.visibility-hidden{
	visibility: hidden;
}

.snap-ctn-x{
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-color: var(--grey-8-color) transparent;
	scroll-snap-type: x mandatory;
	scrollbar-width: thin;
}
.snap-ctn-y{
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: var(--grey-8-color) transparent;
	scroll-snap-type: y mandatory;
	scrollbar-width: thin;
}
.snap-center{
	scroll-snap-align: center;
}
.snap-left{
	scroll-snap-align: left;
}
.snap-right{
	scroll-snap-align: right;
}
