/**Localhost modules/template.css */
article h1{
	font-size: 1.4em;
}
article h2{
	font-size: 1.2em;
}
article h3{
	font-size: 1.0em;
}
article h4{
	font-size: 0.8em;
}
article h5 {
	font-size: 0.6em;
}
article h6{
	font-size: 0.4em
}














article li,
article p{
	font-size: 0.8em;
}

ul.ul-indent{
	padding:0.2em 0 0.2em 1.5em;
}
li.small-caps{
		font-size: 0.7em;
}

li.small-caps::marker{
		font-size: 1.4em;
}

li.medium-caps{
		font-size: 1.0em;
}
li.medium-caps::marker{
		font-size: 1.2em;
}
