/** styles/modules/elements.css */

small{
	font-size: 0.98rem;
}

summary::marker{
	content:'\200B';
}

summary{
	cursor: pointer;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/** HEADINGS */
h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}

h1{
	font-size:2.0em;
}
h2{
	font-size: 1.5rem;
}
h3{
	font-size: 1.25rem;
}
h4{
	font-size: 1.05rem;
}
h5{
	font-size: 0.9rem;
}
h6{
	font-size: 0.7rem;
}

/** MIXES */
h1, h2, h3, h4, h5, h6, blockquote, q, small{
	text-wrap: balance;
}
