/** styles/modules/fonts.css */
@font-face{
	font-family: NotoSans;
	src: url('./../fonts/NotoSans-VariableFont_wdth,wght.woff2') format('woff2'),
		 url('./../fonts/NotoSans-VariableFont_wdth,wght.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}

@font-face{
	font-family: NotoSerif;
	src: url('./../fonts/NotoSerif-VariableFont_wdth,wght.woff2') format('woff2'),
		 url('./../fonts/NotoSerif-VariableFont_wdth,wght.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}
