/**GITHUB modules/components/menubar.css */
/** CTRL LEFT PANEL */
aside.sidebar-ctrl.left{
	width: fit-content;
	height: 100vh;
	padding: 0.3em 0.5em;
	flex-flow: column nowrap;
	background: var(--ctrls-bg); 
	color: var(--ctrls-color);
	border-bottom-left-radius: 0.3em;
	overflow-y: auto;
	direction: rtl;
}
aside.sidebar-ctrl.left .mb-ctn{
	direction: ltr;	
	flex-flow: column nowrap;
	gap: 0.2em;
}
.mb-ctn .menu-block{
	width: 7.0rem;
	border-bottom: 1px solid #f4debd;
	direction: ltr;
}
.menu-block details.mb-block summary{
	width: fit-content;
	padding:0 0 0.2rem 1.3rem;
}
.menu-block details.mb-block summary::before{
	top: 0.15rem;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 1.4rem;
	line-height: 1.0rem;
	opacity: 1;
}
body[data-platform="Linux armv81"] aside.sidebar-ctrl.left .menu-block details.mb-block summary::before{
	left: 0.1rem;
	border: 1px solid red;
	
}

.menu-block details.mb-block[open] summary::before{
	opacity: 0.6;
}
.menu-block details.mb-block details-content[class]{
	flex-flow: row wrap;
	width: 6.8rem;
	height: fit-content;
	padding: 0.1em 0 0.2em 0.25em;
	background:  var(--ctrls-sub-bg);
}	
.menu-block details.mb-block details-content[class] content-item[class]{
	flex-flow: column nowrap;
	margin-top:0.20rem; 
	padding: 0.2rem 0.25rem;
	height: fit-content;
	width: 6.0rem;
	font-size: 0.9rem;
	text-align: center;
	gap: 0.5em;
}

aside.sidebar-ctrl.left [data-block-id='site_details']{
	align-self: stretch;
	height: 100%;
	text-align: left;
	white-space: nowrap;
	padding: 0.2em;
	z-index: 5;
	padding-bottom: 0.75em;
}

[data-block-id='site_details'] small.site-details{
	top: calc(100% - 1.2em);
	height: fit-content;
	width: 100%;
}


