/** modules/components/awd_toolbars.css */

/** CTRL TOP PANEL */
aside.sidebar-ctrl.top{
	width: calc(100vw - 1.5em);
	height: fit-content;
	background: var(--ctrls-bg); 
	color: var(--ctrls-color);
	padding-top: 0.09em;
}
aside.sidebar-ctrl.top .left-block{
	width: fit-content;
	padding-left: 1.9em;
	line-height: 1.6em;
	gap: 0.3em;
}

aside.sidebar-ctrl.top .left-block h4{
	/*white-space: nowrap;*/
}
aside.sidebar-ctrl.top .left-block::before{
	top: 0.01em;
	left: 0.05em;
	height: 24px;
	width: 24px;
}

aside.sidebar-ctrl.top .left-block .tb.menu-item.home{
	left: 0.2em;
	height: 24px;
	width: 24px;
	background: #78c4e2;
	cursor: pointer;
}
.tb.menu-item.home.active{
	cursor: default;
	opacity: 0.6;
}
.tb.menu-item.home::before{
	left: -0.04em;
}

aside.sidebar-ctrl.top .right-block{
	line-height: 1.6em;
	padding: 0 0.4em;
	flex-grow: 1;
	justify-content: right;
}
.right-block .tb-right-container{
	gap: 0.5em;
	width: fit-content;
}

.tb-block details[open] summary::before{
	opacity: 0.6;
}
.right-block .tb-block.five{
	width: 1.6em;
}
/** todo */
