/** modules/components/workbench.css */
/** WORK BENCH */
body .wrap.container main .workbench-ctn{
	top: 1.6em;
	left: 1.6em;
	height: calc(100% - 1.8rem);
	width: calc(100% - 1.8rem);
	z-index: 5;
}
body[data-platform="Linux armv81"][data-browsername="Firefox"] .workbench-ctn .wb-content{
	padding: 0.5em 0.15em 0.5em 0.5em;
}

.workbench-ctn .wb-content{
	padding: 0.5em 1.25em 1.5em 1.0em;
	width: calc(100% - 2.4rem);
	height: calc(100% - 1.0rem);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--ctrls-bg) transparent;
	flex-flow: column nowrap;
	gap: 0.3rem;
}

.wb-content div.form-container{
	width: inherit;
	padding: 0.5rem;
	background: #dbd4d4;
}