/**tp_editor/modules/tp-base.css */
.tp-editor-container{
	flex-direction: column;
	gap: 0.8rem;
	height: 20.0rem;
	width: 30.0rem;
	
}
/** base styles here */

svg.svg-icon{
	width: 1.5rem;
	height: 1.5rem;
}

