/** tp_editor/modules/tp_editor.css */
.tp-canvas{
	padding:0.1rem 0.4rem;
	flex-grow: 1;
	background: #f3f3f3;
	cursor: text;
    border: 1px solid #7e8993;
    border-right-color: #c2c8cd;
    border-bottom-color: #c2c8cd;
	outline: none;
}

.tp-canvas div{
	padding-right: 5px;
}







