/**tp_editor/modules/tp_toolbar.css*/
.tp-toolbar{
	height: fit-content;
	border: 1px solid green;
	flex-direction: column;
	padding: 0.5rem;
	gap: 0.7rem;
}

.tp-toolbar .tp-btn-row,
.tp-toolbar .tp-dialogs{
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding: 0 0.25rem;
	height: 1.9rem;
}

.tp-toolbar .tp-btn-row{
	width: 30rem;
	order: 0;
}
.tp-btn-row .tp-btn-group{
	gap: 0.25rem;
	height: 1.7rem;
	
}

.tp-btn-group button.tp-button{
	width: 1.7rem;
	height: 1.7rem;
	top: 0.2rem;
	background: #f3f3f3;
	cursor: pointer;
    border: 1px solid #7e8993;

}
.tp-btn-group button.tp-button.tp-active{
	background: #c3c3c3;
    border: 1px solid #7e8993;
    border-right-color: #c2c8cd;
    border-bottom-color: #c2c8cd;

}
.tp-toolbar .tp-dialogs dl{
	order: 1;
	gap: 0.25rem;
}
