/** /styles/modules/editor_icons.css*/
.article-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/a/article_28x28.svg");
}

.article-footer-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/a/article_footer_28x28.svg");
}

.article-header-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/a/article_header_28x28.svg");
}

.article-main-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/a/article_main_28x28.svg");
}

.bold-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/bc/bold_28x28.svg");
}
.bold-select-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/bc/bold_select_28x28.svg");
}
.em-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/de/em_28x28.svg");
}
.em-select-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/de/em_select_28x28.svg");
}

.h1-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/h1_28x28.svg");
}

.h2-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/h2_28x28.svg");
}

.h3-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/h3_28x28.svg");
}

.h4-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/h4_28x28.svg");
}

.h5-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/h5_28x28.svg");
}

.h6-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/h6_28x28.svg");
}

.hr-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/ghi/hr_28x28.svg");
}

.li-ul-icon-1::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ul_28x28_1.svg");
}

.li-ul-icon-2::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ul_28x28_2.svg");
}
.li-ul-icon-3::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ul_28x28_3.svg");
}
.li-ul-icon-4::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ul_28x28_4.svg");
}
.li-ol-icon-1::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ol_28x28_1.svg");
}
.li-ol-icon-2::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ol_28x28_2.svg");
}
.li-ol-icon-3::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ol_28x28_3.svg");
}
.li-ol-icon-4::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ol_28x28_4.svg");
}
.li-ol-icon-5::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/li_ol_28x28_5.svg");
}
.mark-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/mark_28x28.svg");
}
.mark-select-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/jklm/mark_select_28x28.svg");
}
.ol-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/nopq/ol_28x28.svg");
}
.paragraph-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/nopq/p_28x28.svg");
}

.strong-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/strong_28x28.svg");
}
.strong-select-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/strong_select_28x28.svg");
}

.ul-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/ul_28x28.svg");
}
.ul-set-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/ul_28x28_set.svg");
}
.underline-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/u_28x28.svg");
}
.underline-select-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/u_select_28x28.svg");
}

.undo-select-icon::before{
	position: absolute;
	inset: 0;
	height: 1.75rem;
	width: 1.75rem;
	content: url("./../../editor_icons/rstu/undo_select_28x28.svg");
}





