/** /styles/modules/list_styles.css*/
[contenteditable]{
	li{
		margin: 0.25rem 0;
	}
	[data-list-indent="initial"]{
		padding-inline-start: 1.0rem;
	}
	[data-list-indent="ind-1_5"]{
		padding-inline-start: 1.5rem;
	}
	[data-list-indent="ind-2"]{
		padding-inline-start: 2.0rem;
	}
	[data-list-indent="ind-2_5"]{
		padding-inline-start: 2.5rem;
	}
	[data-list-indent="ind-3"]{
		padding-inline-start: 3.0rem;
	}
	[data-list-position="inside"]{
		list-style-position: inside;
	}
	[data-list-position="outside"]{
		list-style-position: outside;
	}
	/* todo */
	[data-list-type="asterisk"]{
		list-style-type: '\2731';
	}
	[data-list-type="circle"]{
		list-style-type: '\25CB';
	}
	[data-list-type="diamond"]{
		list-style-type: "\25C6";
	}
	[data-list-type="disc"]{
		list-style-type: '\25CF';
	}
	[data-list-type="square"]{
		list-style-type: '\25A0';
	}
	[data-list-type="decimal"]{
		list-style-type: decimal;
	}
	[data-list-type="lower-alpha"]{
		list-style-type: lower-alpha;
	}
	[data-list-type="lower-greek"]{
		list-style-type: lower-greek;
	}
	[data-list-type="lower-latin"]{
		list-style-type: lower-latin;
	}
	[data-list-type="lower-roman"]{
		list-style-type: lower-roman;
	}
	[data-list-type="nummeric"]{
		list-style-type: nummeric;
	}
	[data-list-type="none"]{
		list-style-type: none;
	}
	[data-list-type="space-counter"]{
		list-style-type: space-counter;
	}
	[data-list-type="upper-alpha"]{
		list-style-type: upper-alpha;
	}
	[data-list-type="upper-greek"]{
		list-style-type: upper-greek;
	}
	[data-list-type="upper-latin"]{
		list-style-type: upper-latin;
	}
	[data-list-type="upper-roman"]{
		list-style-type: upper-roman;
	}
	[data-list-type="zero-decimal"]{
		list-style-type:decimal-leading-zero;
	}
	/*
	[data-list-type=""]{
		list-style-type: ;
	}
	*/
}